[submodule "microservices/ordering"]
	path = microservices/ordering
	url = https://github.com/antoniotnn/ems-algashop-ordering.git
[submodule "docs"]
	path = docs
	url = https://github.com/antoniotnn/ems-algashop-docs.git
[submodule "microservices/billing"]
	path = microservices/billing
	url = https://github.com/antoniotnn/ems-algashop-billing.git
